body{
    background-size: cover;
}

h1{
    width: 100%;
}

canvas{
    border: 10px solid black;
}

#object_name{
    background-color: chocolate;
    color:white;
    font-size: medium;
}